body {
  background-color: #DFE2E6;
  font-family: 'calluna-sans', Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-family: 'kepler-std-display', 'calluna-sans', Helvetica, serif;
  font-style: italic;
  margin-bottom: 0;
  text-align: left;
  font-size: 40px;
}

.here, .there {
  position: absolute;
  bottom: 20px;
}
.here {
  right: 20px;
}
.there {
  left: 20px;
}
.temp {
  font-size: 60px;
}
.place {
  margin-bottom: 0;
}
.result {
  font-size: 100px;
  font-size: 35vw;
  line-height: 100px;
  line-height: 35vw;
  font-weight: 900;
}
