body {
  background-color: #DFE2E6;
  font-family: 'calluna-sans', Helvetica, sans-serif;
  text-align: center;
  color: #222;
}

h1 {
  font-family: 'kepler-std-display', 'calluna-sans', Helvetica, sans-serif;
  font-style: italic;
}
.top {
  margin: 20px 10px 0;
  text-align: left;
  font-size: 40px;
}

.here, .there {
  position: absolute;
  bottom: 10%;
}
.here {
  right: 20px;
}
.there {
  left: 20px;
}
.temp {
  font-size: 60px;
  line-height: 55px;
}
.place {
  margin: 0;
  font-size: 21px;
  font-weight: 400;
}
.result {
  font-size: 100px;
  font-size: 35vw;
  line-height: 100px;
  line-height: 35vw;
  font-weight: 900;
}

.credits {
  /*font-family: 'kepler-std', Georgia, serif;*/
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-weight: 400;
}

.skycon {
  height: 64px;
  width: 64px;
  display: inline-block;
}

.location-form {
  margin-top: 1em;
  display: none;
}

.location-form label {
  display: block;
}
.location-form input {
  font-family: 'calluna-sans', Helvetica, sans-serif;
  font-size: 24px;
  border: 1px solid #B7B4B4;
  padding: .33em;
  width: 70%;
}
